* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
}

.sections {

    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    ul {
        display: flex;
        gap: 60px;
        font-size: 4rem;
        li {
            list-style-type: none;
        }
        a {
            color: rgb(64, 64, 64);
            text-decoration: none;
            position: relative;
        }
        a::before {
            content: '';
            background-color: #d5f7e6;
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 2px;
            z-index: -1;
            transition: all .3s ease-in-out;
          }
          a:hover::before {
            bottom: 0;
            height: 100%;
          }
    }
}

.logo {
    width: 120px;
    height: 38px;
    margin-left: 200px;
    padding-top: 3px;
}

.divider {
    display: inline-block;
    width: 1px;
    background-color: rgb(179, 179, 179);
    margin-right: 15px;
    height: 40px;
  }
  

.modeButton {
    display: flex;
    cursor: pointer;
    p {
        font-size: 1.5rem;
    }
    .modeIcon {
        font-size: 2.5rem;
    }
}

.home {
    margin: 0 auto;
    width: 85vw;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.homeText {
    margin-left: 20px;
    h2 {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 15px;
    }
    h1 {
        font-size: 5rem;
        margin-bottom: 20px;
        display: inline-block;
    }
    h3 {
        font-size: 2rem;
        font-weight: 300;
    }
    #name {
        font-size: 6rem;
    }
}

.highlight {
    position: relative;
  }
  
  .highlight::before {
    background: linear-gradient(to right, #e65100, #eb680f, #ef7d20, #f39131, #f7a343, #f0b451, #e9c463, #e3d278, #d4df94, #cbeab2, #cbf1cf, #d5f7e6);
  
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: 80%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
  }

  .buttons {
    margin-top: 40px;
    display: flex;
    gap: 30px;


    .resumeButton:hover {
        background-color: transparent;
        color: grey;
      }

  }


 .homeImg img {
    width: 500px;
    height: 500px;
 }

 .projects {
    margin-top: 20px;
    width: 100vw;
    height: 800px;
 }


.projectsTitle {
    font-size: 6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    p {
        margin-bottom: 0px;
    }
}

.carrouselContainer {
    height: 700px;
}

.carrousel {
    border-radius: 10px;
    margin: 0 auto;
    width: 60vw;
    height: 30vw;
    background-color: white;
    box-shadow: 17px 13px 102px -54px rgba(0,0,0,0.75);

    h1 {
        font-size: 500px;
    }
    
    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;

    }   
}

.maptyDescription, .journalDescription, .calendarDescription, .bankSimulatorDescription {
    margin: 0 auto;
    opacity: 0;
    width: 50%;
    transition: all 1s ease-in;
    h1, h4 {
        color: white;
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.mapty, .journal, .calendar, .bankSimulator {
    transition: all 1s ease-in;
}

.mapty:hover, .journal:hover, .calendar:hover, .bankSimulator:hover {
    filter: brightness(30%);
    transition: all 1s ease-in;
}

#carrouselJournal:hover .journalDescription {
    opacity: 1;
    transition: all 1s ease-in;
}

#carrouselMapty:hover .maptyDescription {
    opacity: 1;
    transition: all 1s ease-in;
}

#carrouselCalendar:hover .calendarDescription {
    opacity: 1;
    transition: all 1s ease-in;
}

#carrouselBankSimulator:hover .bankSimulatorDescription {
    opacity: 1;
    transition: all 1s ease-in;
}


.carousel-control-prev-icon {
    margin-left: 200px
}

.carousel-control-next-icon {
    margin-right: 200px
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 6rem;
    height: 6rem;
}

.skillsTitle {
    display: flex;
    justify-content: center;
    gap: 20px;
    p {
        font-size: 3.9rem;
        font-weight: 600;
    }
    img {
        height: 50px;
    }
}

.skillsLogos {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 70px;
    margin-bottom: 150px;

    img {
        width: 70px;
        height: 70px;
        margin-top: 10px;
    }


    .languajes {
        width: 40vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;
    }

    .softSkills {
        width: 25vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;
    }

}

.html, .css, .bs, .sass, .js, .react, .redux, .node, .mongo, .git, .teamwork, .pm, .listen, .adapt, .conflict, .problem {
    font-size: 2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100px;
    width: 100px;
}

.smallerProjects {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
}

.smallerContainer {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}