* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  user-select: none;
}

.sections {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sections ul {
  display: flex;
  gap: 60px;
  font-size: 4rem;
  margin-bottom: 0;
}
.sections ul li {
  list-style-type: none;
}
.sections ul a {
  cursor: pointer;
  color: rgb(64, 64, 64);
  text-decoration: none;
  position: relative;
}
.sections ul a::before {
  content: "";
  background-color: #d5f7e6;
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.sections ul a:hover::before {
  bottom: 0;
  height: 100%;
}

.logo {
  width: 120px;
  height: 38px;
  margin-left: 200px;
  padding-top: 3px;
}

.divider {
  display: inline-block;
  width: 1px;
  background-color: rgb(179, 179, 179);
  margin-right: 15px;
  height: 40px;
}

.modeButton {
  padding-top: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modeButton p {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.modeButton .modeIcon {
  font-size: 2.5rem;
}

.home {
  margin: 0 auto;
  width: 85vw;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
}

.homeText {
  margin-left: 20px;
}
.homeText h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 15px;
}
.homeText h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  display: inline-block;
}
.homeText h3 {
  font-size: 2rem;
  font-weight: 300;
}
.homeText #name {
  font-size: 6rem;
}

.highlight {
  position: relative;
}

.highlight::before {
  background: linear-gradient(to right, #e65100, #eb680f, #ef7d20, #f39131, #f7a343, #f0b451, #e9c463, #e3d278, #d4df94, #cbeab2, #cbf1cf, #d5f7e6);
  content: "";
  position: absolute;
  width: calc(100% + 5px);
  height: 80%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.buttons {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.buttons .resumeButton:hover {
  background-color: transparent;
  color: grey;
}

.homeImg img {
  width: 500px;
  height: 500px;
}

.projects {
  margin-top: 20px;
  width: 100vw;
  height: 800px;
}

.projectsTitle {
  user-select: none;
  font-size: 6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.projectsTitle p {
  margin-bottom: 0px;
}

.carrouselContainer {
  height: 650px;
}

.carrousel {
  border-radius: 10px;
  margin: 0 auto;
  width: 60vw;
  height: 30vw;
  background-color: white;
  box-shadow: 17px 13px 102px -54px rgba(0, 0, 0, 0.75);
}
.carrousel h1 {
  font-size: 500px;
}
.carrousel img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.maptyDescription, .journalDescription, .calendarDescription, .bankSimulatorDescription {
  margin: 0 auto;
  opacity: 0;
  width: 50%;
  transition: all 1s ease-in;
}
.maptyDescription h1, .maptyDescription h4, .journalDescription h1, .journalDescription h4, .calendarDescription h1, .calendarDescription h4, .bankSimulatorDescription h1, .bankSimulatorDescription h4 {
  color: white;
  margin-bottom: 20px;
}
.maptyDescription img, .journalDescription img, .calendarDescription img, .bankSimulatorDescription img {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.mapty, .journal, .calendar, .bankSimulator {
  transition: all 1s ease-in;
}

.mapty:hover, .journal:hover, .calendar:hover, .bankSimulator:hover {
  filter: brightness(30%);
  transition: all 1s ease-in;
}

#carrouselJournal:hover .journalDescription {
  opacity: 1;
  transition: all 1s ease-in;
}

#carrouselMapty:hover .maptyDescription {
  opacity: 1;
  transition: all 1s ease-in;
}

#carrouselCalendar:hover .calendarDescription {
  opacity: 1;
  transition: all 1s ease-in;
}

#carrouselBankSimulator:hover .bankSimulatorDescription {
  opacity: 1;
  transition: all 1s ease-in;
}

.carousel-control-prev-icon {
  margin-left: 200px;
}

.carousel-control-next-icon {
  margin-right: 200px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 6rem;
  height: 6rem;
}

.skillsTitle {
  user-select: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.skillsTitle p {
  font-size: 3.9rem;
  font-weight: 600;
}
.skillsTitle img {
  height: 50px;
}

.skillsLogos {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 70px;
  margin-bottom: 150px;
}
.skillsLogos img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}
.skillsLogos .languajes {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
.skillsLogos .softSkills {
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.html, .css, .bs, .sass, .js, .react, .redux, .node, .mongo, .git, .teamwork, .pm, .listen, .adapt, .conflict, .problem {
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 100px;
  width: 100px;
}

.smallerProjects {
  user-select: none;
  height: 900px;
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smallerProjects .smallerTitle {
  margin-bottom: 80px;
}

.smallerContainer {
  height: 600px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 130px;
}

.app1, .app2, .app3, .app4 {
  position: relative;
}
.app1 img, .app2 img, .app3 img, .app4 img {
  margin-top: 20px;
  width: 500px;
  height: 250px;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
}
.app1:hover, .app2:hover, .app3:hover, .app4:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.app1::after, .app2::after, .app3::after, .app4::after {
  content: "";
  position: absolute;
  inset: -0.5em;
  background: linear-gradient(to left, rgba(255, 202, 159, 0.5725490196), rgba(187, 255, 194, 0.6235294118));
  filter: blur(1.5em);
  z-index: -1;
}

.footer {
  margin-top: 80px;
  height: 70px;
  width: 100vw;
  background-color: rgb(237, 237, 237);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer h5 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 0;
}
.footer img {
  width: 30px;
  height: 30px;
}
.footer .footerIcons {
  display: flex;
  gap: 20px;
}

/*# sourceMappingURL=style.css.map */
